@import 'tailwindcss';

@theme {
  /* Spacing */
  --spacing: 1px;

  /* Font Size */
  --text-base: 1.4rem;
  --text-large: 1.8rem;
  --text-xl: 2.4rem;
  --text-3xl: 4.8rem;
  --leading-large: 2.8rem;

  /* Colors */
  --color-black: #111111;
  --color-black-faded: #000000aa;
  --color-light-gray: #f9f9f9;
  --color-gray: #e9e9e9;
  --color-light-green: #71837b;
  --color-dark-green: #3a6150;
  --color-dark-green-faded: #3a6150b2;
  --color-red-error: #3a6150;

  /* Media */
  --breakpoint-xs: 500px;
  --breakpoint-sm: 750px;
  --breakpoint-md: 1000px;
  --breakpoint-lg: 1500px;
}

:root {
  /* 1rem === 10px */
  font-size: 62.5%;
  font-family: 'Outfit', 'Helvetica', 'Arial', 'sans-serif';
  color: #111111;
}

@media (max-width: 1000px) {
  :root {
    font-size: 50%;
  }

  @theme {
    --text-base: 1.5rem;
  }
}

@media (min-width: 1500px) {
  :root {
    font-size: 75%;
  }
}

@layer components {
  .form-input {
    border-radius: 3px;
    border: 1px #111111 solid;
    padding: 8px 12px;
  }

  .form-input:focus-within {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }

  .form-input:user-invalid {
    border: 2.5px #3a6150 solid;
  }

  .multiple-option-validity:user-invalid + label,
  label:has(+ .form-input:user-invalid) {
    color: #3a6150;
  }

  .multiple-option-validity:user-invalid:not(:focus) {
    outline: 2.5px auto #3a6150;
    outline-offset: 2px;
  }

  .side-background {
    background-image: url('./assets//images/contact-us.jpeg');
    background-size: cover;
    background-position: right;
  }
}
