@import 'tailwindcss';

@theme {
  /* Spacing */
  --spacing: 1px;

  /* Font Size */
  --text-base: 1.4rem;
  --text-large: 1.8rem;
  --text-xl: 2.4rem;
  --text-3xl: 4.8rem;
  --leading-large: 2.8rem;

  /* Colors */
  --color-black: #111111;
  --color-dark-green: #3a6150;
  --color-dark-green-faded: #3a6150b2;
  --color-light-gray: #f9f9f9;
}

:root {
  /* 1rem === 10px */
  font-size: 62.5%;
  font-family: 'Outfit', 'Helvetica', 'Arial', 'sans-serif';
  color: #111111;
}
